*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 3000px;
}
header{
  
}
.containers{
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    position: fixed;
    z-index: 1;
}
.secondary{
  background-color: deepskyblue;
  box-shadow: 0px 0px 17px 0px;
  transition: all 0.5s ease-in;
}
.logo{
    width: 20%;
    height: auto;
    color: #ffffff;
    text-transform: uppercase;
}
.navbar ul li{
    display: inline-block;
    padding-right: 30px;
}
.navbar a{
    font-weight: 900;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in;
}
.navbar a:hover{
    color: crimson;
}
.img1{
    background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) ,url('../image/sky4.jpg');
    background-size: 100% 100%;
}
.slider{
}
.slider,.slider ul , .slider ul li{
    height: 710px;
    width: 100%;
    color:#fff;
    text-align: center;
}
.slider h2{
    font-weight: bold;
    padding-top: 220px;
}
.slider span{
    color: orange;
}
.slider a{
    padding: 10px 40px;
    color: #fff;
    margin-right: 10px;
    transition: .5s ease-in;
}
.slider a.btn-half{
    background-color: deepskyblue;
}
.slider a.btn-half:hover{
    background-color: dodgerblue;

}
.slider a.btn-full{
    background-color: orange;
    
}
.slider a.btn-full:hover{
    background-color: #e67e22;
}
.img2{
    background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) ,url('../image/nat7.jpg');
    background-size: 100% 100%;
}
.img3{
    background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) ,url('../image/nat8.jpg');
    background-size: 100% 100%;
}
.slider i{
    font-size: 35px;
    margin-right: 10px;
}

.intro-area{
    position: relative;
    padding: 100px 0px;
}
.sub-heading{
    position: relative;
    margin-bottom: 75px;
}

.sub-heading:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -3%;
    width: 6%;
    height: 1px;
    background-color: deepskyblue;
    z-index: 1;
    -webkit-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    transition: 0.5s ease;
}
.sub-heading:hover:before{
    width: 24%;
    margin-left: -12%;
}
.sub-heading:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12%;
    height: 1px;
    width: 24%;
    background-color: #e1e1e1;
}
.sub-heading p{
    color: #818181;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}
.intro-block{
    position: relative;
    background: #f7f7f7;
    margin: 50px 0px 0px;
    padding: 70px 25px 40px;
}
.intro-block:hover,.intro-block.active{
    background: #0AABE1;
}
.intro-block:hover{
   -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
   -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
}
.intro-block .intro-icon{
    position: absolute;
    top:-25px ;
    left: 50%;
    margin: -15px;
}
.intro-block .fas{
    width: 63px;
    height: 63px;
    font-size: 30px ;
    color: white;
    line-height: 2;
    background: deepskyblue;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px #cceef9;
}
.intro-block .fab {
    width: 63px;
    height: 63px;
    font-size: 30px;
    color: white;
    line-height: 2;
    background: deepskyblue;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px #cceef9;
}
.intro-block .fas:hover,.intro-block.active.fas{
    color: deepskyblue;
    background: #fff;
    box-shadow:0px 0px 0px 10px deepskyblue ;
}
.intro-block .fab:hover,.intro-block.active.fab{
    color: deepskyblue;
    background: #fff;
    box-shadow:0px 0px 0px 10px deepskyblue ;
}
.intro-block h3{
    font-size: 18px;
    font-weight: 700;
    color: deepskyblue;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.intro-block p{
    color: #505050;
}
.intro-block:hover h3,.intro-block:hover p{
    color: #f6f6f6;
}
.feature-area{
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../image/water.jpg)  ;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.title h2,p{
    color: #fff;
}
.single-feature h3{
    color: white;
}
.single-feature{
    position: relative;
    width: 325px;
    float: left;
    padding: 30px 0px;
    border-right: 1px solid #65c8e5;
    text-align: center;
    border-bottom: 1px solid #65c8e5;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.feature-block:after{
    content: "";
    display:table;
}
.feature-block:after{
    clear:both;
}
.featured-icon {
    display: inline-block;
    margin-bottom: 20px;
}
.single-feature  .fas{
    border: 2px solid #fff;
    background: #00a7dd;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
    font-size: 30px;
    width: 64px;
    height: 64px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}  
.single-feature:hover .featured-icon .fas{
    border:2px solid #00a7dd;
    background: white;
    color:deepskyblue;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}
.single-feature:nth-of-type(even)
{
    border-right: none;
}
.single-feature:last-child{
    border-bottom: none;
} 
.single-feature:nth-last-child(2){
    border-bottom: none;
}
.title .sub-heading p{
    color: #fff;
}
.more-feature-area .title h2{
    color: black;
}
.more-feature-area .title  .sub-heading p{
    color: darkgrey;
}
.more-feature-area{
    padding: 100px 0px;
}
.feature-list ul{
    list-style: none;
}
.feature-list li{
    position: relative;
    margin-bottom: 30px;
    padding-left: 80px;
}
.feature-list li:hover i{
    color:white;
    background: #00a7dd;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -ms-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
}
.feature-icon{
    position: absolute;
    left: 0;
}
.feature-icon i{
    width: 63px;
    height: 63px;
    text-align: center;
    font-size: 30px;
    background: white;
    color:deepskyblue;
    border-radius: 50%;
    border: 2px solid deepskyblue;
    line-height: 63px;
}
.feture-details h3{
    color: deepskyblue;
    font-weight: 700;
    text-transform: uppercase;
}
.feture-details p{
    color:#616161;
    font-weight: 200;
}
.more-feature-area img{
    height: 600px;
    width: 400px;
    margin-left: 80px;
}

.testimonials{
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../image/water.jpg)  ;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    color: #fff;
    margin-top: -100px;
}
.testimonials .carousel-indicators{
    bottom: -60px;
}
.testimonials .sub-heading p{
    color: #fff;
}
.carousel-inner img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid deepskyblue;
    padding: 5px;
}
.testimonials .carousel-indicators .active {
    background-color: deepskyblue;
}
.testimonials .carousel-indicators li {
    border: 1px solid deepskyblue;
    
}
.team-area{
    padding: 100px 0px;
}
.team-area .sub-heading{
    margin-bottom: 100px;
}
.team-man{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -50px;
    overflow: hidden;
    height: 100px;
    width: 100px;
    min-width: 100px;
    min-height: 100px;
    border:10px solid deepskyblue;
    border-radius: 50%;
}
.team-man img{
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    border-radius: 50%;
}
.team-title h3{
    color: deepskyblue;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 70px;
    margin-bottom: 5px;
}
.team-title span{
color: #6c6c6c;
font-size: 16px;
text-transform: capitalize;
letter-spacing: 0.025em;
}
.team-block p{
    color: dimgray;
    font-size: 14px;
    padding:25px 15px;
    line-height: 24px;
}
.team-block{
    background-color: #f5f5f5;
    text-align: center;
    position: relative;
}
.team-social-network{
    text-align: center;
    padding-bottom: 15px;
}
.team-social-network a{
    margin: 0 6px;
}
.team-social-network i{
    height: 40px;
    width: 40px;
    background: white;
    text-align: center;
    color: deepskyblue;
    border-radius: 50%;
    border: 3px solid deepskyblue;
    padding-top: 10px ;
}
.team-block:hover .team-description{
    background-color: deepskyblue;
    color: #fff;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}
.team-block:hover .team-title h3,
.team-block:hover .team-title span
{
    color: white;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    -ms-transition: .4s ease;
    transition: .4s ease;
}
.team-block:hover .team-description p{
    color: #f9f9f9;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    -ms-transition: .5s ease;
    transition: .5s ease;
}
.team-block:hover .team-social-network i{
    border-color:white;
    background: deepskyblue;
    color: white;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    transition: 0.6s ease;
}
.download h2{
    color: white;
}
.download .sub-heading p{
    color: white;
}
.download{
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../image/far3.jpg)  ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
.download .default-btn{
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    padding: 8px 40px;
    margin: 0 12px;
    transition: 0.5s ease-in;
}
.download .default-btn:hover{
    color: deepskyblue;
    background: white;
}
.download .fab{
    margin-right: 10px;
    
}
.downloadnow {
    padding: 100px 0px;
    text-align: center;
}
.downloadnow .social-button a{
    text-align: center;
    margin-left: 130px;
}
 .contact-area{
     padding: 100px 0;

 }
.divider{
    border-right: 1px solid #d9d9d9;
}
.contact-area h3{
    text-transform: uppercase;
    margin: 18px;
}
.contact-area h4{
    color: #3a3a3a;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom:4px ;
    letter-spacing: 0.025em;
}
.contact-area span{
    display: block;
    color: #3a3a3a;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.025em;
}
.contact-area ul li{
    overflow: hidden;
    margin-bottom: 25px;
}
.contact-area ul li:last-child{
    margin-bottom: 0px;
}
.contact-address ul li .fas{
    float: left;
    width: 25px;
    color: deepskyblue;
    font-size: 30px;
}
.contact-address ul li .address-phone{
    float: left;
    width: 180px;
    padding-left: 25px;
}
.contact-block{
padding-left:25px;
}
.contact-area .form-control, .contact-area textarea{
    font-family:'Roboto',sans-serif;
    background: #f8fdff;
    border: 1px solid #a5d3eb;
    padding:10px 12px;
    color: #bdbdbd;
    height: 45px;
    font-weight: 400;
    border-radius: 0;
}
.contact-area .form-group{
    margin-bottom: 35px;
}
.contact-area textarea{
    min-height: 115px;
}
.contact-area .default-btn{
    padding: 10px;
    background-color: dimgray;
    color: black;
}


